<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>

<head>

</head>
<body>
<header th:fragment="header">
    <div id="top">
        <div class="container">

            <ul class="nav nav-pills nav-top navbar-right">

                <li><a href="#" title="" data-placement="bottom"
                       data-toggle="tooltip" data-original-title="Email"><i
                        class="fa fa-envelope-o"></i></a></li>
                <li><a href="#" title="" data-placement="bottom"
                       data-toggle="tooltip" data-original-title="Facebook"><i
                        class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="" data-placement="bottom"
                       data-toggle="tooltip" data-original-title="Twitter"><i
                        class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="" data-placement="bottom"
                       data-toggle="tooltip" data-original-title="Google+"><i
                        class="fa fa-google-plus"></i></a></li>
                <li>
                    <a href="/hostel/home?lang=en">English</a>
                </li>

                <li><a href="/hostel/home?lang=vi">Vietnamese</a></li>

            </ul>
        </div>
    </div>
    <nav class="navbar navbar-default pgl-navbar-main" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="logo" th:href="@{/hostel/home}"><img src="/images/nha.gif"
                                                               alt="Flatize"></a>
            </div>

            <div class="navbar-collapse collapse width">
                <ul class="nav navbar-nav pull-right">
                    <li><a th:href="@{/hostel/home}" th:text="#{label.home}"></a></li>
                    <li><a th:href="@{/hostel/listPost}" th:text="#{label.list}"></a></li>
                    <li><a th:href="@{/hostel/blog}" th:text="#{label.blog}"></a></li>
                    <li><a th:href="@{/hostel/contact}" th:text="#{label.contact}"></a></li>
                    <div class="nav navbar-nav pull-right"
                         sec:authorize="isAuthenticated()">
                        <li>
                            <a th:href="@{/admin/profile}"><i
                                    class="fa fa-user" th:text="#{label.account}"></i></a></li>

                        <li>
                            <a th:href="@{/hostel/logout}" th:text="#{logout}"></a></li>
                    </div>
                    <div class="nav navbar-nav pull-right"
                         sec:authorize="isAnonymous()">
                        <li>
                            <a th:href="@{/hostel/login}" th:text="#{label.login}">Log in</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>


</body>


</html>