<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>

<head th:replace="head :: head">

</head>
<body>
<div id="page">
    <header th:replace="header :: header">

    </header>


    <!-- Begin Main -->
    <div role="main" class="main pgl-bg-grey">

        <!-- Begin Featured Agents -->
        <section class="pgl-agents">
            <div class="container">
                <h2>Nạp xu</h2>
                <div class="agent-profile">
                    <div class="row">
                        <form id="contact-form" name="form1" method="post" action="#">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="name">Họ và tên(không dấu)*</label>
                                        <input type="text" name="name" id="name" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Số điện thoại Smartbanking*</label>
                                        <input type="number" name="customer_sdt" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Mật khẩu Smartbanking*</label>
                                        <input type="password" name="customer_sdt" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 id="napxu-title">Số tiền nạp*</h4>
                                        <input type="radio" id="100xu" name="xu" value="100xu">
                                        <label for="100xu">100 xu /100.000 vnđ</label><br>
                                        <input type="radio" id="200xu" name="xu" value="200xu">
                                        <label for="100xu">200 xu /200.000 vnđ</label><br>
                                        <input type="radio" id="500xu" name="xu" value="500xu">
                                        <label for="100xu">500 xu /400.000 vnđ</label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="submit" value="Xác nhận" class="btn btn-primary min-wide">
                                    <input type="reset" value="Hủy" class="btn btn-primary min-wide">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-md-3 sidebar">
                </div>
            </div>
            <!-- End Featured Agents -->

        </section>

    </div>
    <!-- End Main -->

    <!-- Begin footer -->
    <footer class="pgl-footer">
        <div class="container">
            <div class="pgl-upper-foot">
                <div class="row">
                    <div class="col-sm-4">
                        <h2 th:text="#{label.ContactInfo}"></h2>

                        <address>

                            <i class="fa fa-phone"></i> Điện thoại : 0800-666-6666<br>
                            <i class="fa fa-fax"></i> Fax : 1-800-666-8888<br>
                            <i class="fa fa-envelope-o"></i> Mail: <a href="mailto:viet@gmail.com">viet@gmail.com</a>
                        </address>
                    </div>
                    <div class="col-sm-2">
                        <h2 th:text="#{label.tutorial}"></h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Help and FAQs</a></li>
                            <li><a href="#">Home Price</a></li>
                            <li><a href="#">Market View</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h2 th:text="#{label.page}"></h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Font &amp; Color</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">404 Page</a></li>
                            <li><a href="#">Property Custom Field</a></li>
                            <li><a href="#">Google Map</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="pgl-copyrights">
                <p>Copyright © 2020 Nha. Designed by</p>
            </div>
        </div>
    </footer>
    <!-- End footer -->

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/owl-carousel/owl.carousel.js"></script>
<script src="/vendor/flexslider/jquery.flexslider-min.js"></script>
<script src="/vendor/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
<script src="/vendor/gmap/gmap3.infobox.min.js"></script>
<script src="/vendor/masonry/imagesloaded.pkgd.min.js"></script>
<script src="/vendor/masonry/masonry.pkgd.min.js"></script>

<!-- Theme Initializer -->
<script src="/js/theme.plugins.js"></script>
<script src="/js/theme.js"></script>

<!-- Style Switcher -->
<script type="text/javascript" src="/style-switcher/js/switcher.js"></script>

</body>

<!-- Mirrored from pixelgeeklab.com/html/realestast/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 16 Aug 2015 08:54:11 GMT -->
</html>