<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="head :: head">

</head>
<body>
	<div id="page">
		<header th:replace="header :: header"> </header>

		<!-- Begin Main -->
		<div role="main" class="main pgl-bg-grey">
			<!-- Begin page top -->
			<section class="page-top">
				<div class="container">
					<div class="page-top-in">
						<h2>
							<span>Chi tiết</span>
						</h2>
					</div>
				</div>
			</section>
			<!-- End page top -->

			<!-- Begin content with sidebar -->
			<div class="container">
				<div class="row">
					<div class="col-md-9 content">

						<section class="pgl-pro-detail pgl-bg-light">
							<div id="slider" class="flexslider">
								<ul class="slides">
									<li th:each="image : ${images}"><img
										th:src="@{'/images/properties/' + ${image.link}}"
										alt=""> <span class="property-thumb-info-label">
											<span class="label price" th:text="${post.content.price} +' VNĐ'"></span>
											<span class="label forrent "><button
													class="label forrent btn-save"
													th:data-id="${post.id}" th:text="#{button.save}">
												</button> </span>
									</span></li>
								
								</ul>
							</div>
							<div id="carousel" class="flexslider">
								<ul class="slides">
									<li th:each="image : ${images}"><img
										th:src="@{'/images/properties/' + ${image.link}}"
										alt=""></li>
									
								</ul>
							</div>
							<div class="pgl-detail">
								<div class="row">
									<div class="col-sm-4">
										<ul class="list-unstyled amenities amenities-detail">
											<li>Chủ cho thuê: <strong
												th:text="${post.content.createBy}"> </strong></li>

											<li>SĐT: <strong th:text="${post.userEntity.phone}"></strong></li>

										</ul>
									</div>
									<div class="col-sm-8">
										<h2 th:text="${post.title}"></h2>
										<p>
											<strong th:text="${post.shortDescription}"></strong>
										</p>

									</div>
								</div>

								<div class="tab-detail">
									<h3>Thông tin chi tiết</h3>
									<div class="panel-group" id="accordion">
										<div class="panel panel-default pgl-panel">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapseOne">Thông tin cơ bản</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in">
												<div class="panel-body">
													<ul>

														<li><strong> Giá: </strong><strong
															th:text="${post.content.price}"></strong> vnđ</li>

														<li><strong> Địa chỉ: </strong><strong
															th:text="${post.content.address}"></strong></li>
														<li><strong> Diện tích: </strong><strong
															th:text="${post.content.acreage}"></strong> m2</li>
														<li><strong> Tiền điện: </strong><strong
															th:text="${post.content.electricPrice}"></strong> vnđ</li>

														<li><strong> Tiền nước: </strong><strong
															th:text="${post.content.waterPrice}"></strong> vnđ</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default pgl-panel">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapseTwo" class="collapsed">Video</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
												<div class="panel-body">
													<p>Don't have video.</p>
												</div>
											</div>
										</div>


										<div class="panel panel-default pgl-panel">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapseFive" class="collapsed">Bình luận</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse">
												<div class="comment">
													<div class="post-block post-comments clearfix">

														<ul style="list-style-type: none">
															<li>
																<div class="comment">
																	<div class="img-circle">
																		<img class="avatar" width="50" alt=""
																			src="images/blog/avatar.png">
																	</div>
																	<div class="comment-block">
																		<span class="comment-by"> <strong>Frank
																				Reman</strong></span> <span class="date"><small><i
																				class="fa fa-clock-o"></i> January 12, 2013</small></span>
																		<p>Lorem ipsum dolor sit amet, consectetur
																			adipiscing elit. Nam viverra euismod odio, gravida
																			pellentesque urna varius vitae, gravida pellentesque
																			urna varius vitae. Lorem ipsum dolor sit amet,
																			consectetur adipiscing elit.</p>

																	</div>
																</div>
															<li>
																<div class="comment">
																	<div class="img-circle">
																		<img class="avatar" width="50" alt=""
																			src="images/blog/avatar.png">
																	</div>
																	<div class="comment-block">
																		<span class="comment-by"> <strong>Frank
																				Reman</strong></span> <span class="date"><small><i
																				class="fa fa-clock-o"></i> July 11, 2014</small></span>
																		<p>Gravida pellentesque urna varius vitae. Lorem
																			ipsum dolor sit amet, consectetur adipiscing elit.</p>

																	</div>
																</div>
															</li>
														</ul>
														</li>

														</ul>
													</div>
													<div class="post-block post-leave-comment">
														<h3>Leave a comment</h3>

														<div class="row">
															<form action="#" type="post" class="col-md-9">


																<div class="form-group" id="commentreply">
																	<div class="row">
																		<div class="col-md-12">
																			<label>Comment *</label>
																			<textarea maxlength="5000" rows="10"
																				class="form-control" name="comment" id="comment"></textarea>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-12">
																		<input type="submit" value="Submit Comment"
																			class="btn btn-default btn-sm"
																			data-loading-text="Loading...">
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<!-- Begin Related properties -->
						<section class="pgl-properties">
							<h2>Danh sách gợi ý</h2>
							<div class="row">
								<div class="owl-carousel pgl-pro-slide"
									data-plugin-options='{"items": 3, "itemsDesktop": 3, "singleItem": false, "autoPlay": false, "pagination": false}'>

									<div class="col-md-12 animation"
										th:each="suggestion : ${listsuggestions}">
										<div class="pgl-property">
											<div class="property-thumb-info">
												<div class="property-thumb-info-image">
													<img alt="" class="img-responsive"
														th:src="@{'/images/properties/' + ${suggestion.image[0].link}}">>
													<span class="property-thumb-info-label"> <span
														class="label price"
														th:text="${suggestion.content.price} +' VNĐ'"></span>

													</span>
												</div>
												<div class="property-thumb-info-content">
													<h3>
														<a th:href="@{'/hostel/detailPost/'+${suggestion.id}}"
															th:text="${suggestion.title}"></a>
													</h3>
													<address th:text="${suggestion.content.address}"></address>
													<strong>Người tạo: </strong>
													<p th:text="${suggestion.createBy}"></p>
												</div>
												<div class="amenities clearfix">
													<ul class="pull-left">
														<li><strong>Diện tích:</strong> <strong
															th:text="${suggestion.content.acreage}"></strong> <sup>m2</sup></li>
													</ul>
													<button class="label forrent pull-right btn-save"
														th:data-id="${suggestion.id}" th:text="#{button.save}">
													</button>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
					</div>
					</section>
					<!-- End Related properties -->

				</div>

			</div>
		</div>
		<!-- End content with sidebar -->

	</div>
	<!-- End Main -->

	<!-- Begin footer -->
	<footer class="pgl-footer">
		<div class="container">
			<div class="pgl-upper-foot">
				<div class="row">
					<div class="col-sm-4">
						<h2 th:text="#{label.ContactInfo}"></h2>

						<address>

							<i class="fa fa-phone"></i> Điện thoại : 0800-666-6666<br> <i
								class="fa fa-fax"></i> Fax : 1-800-666-8888<br> <i
								class="fa fa-envelope-o"></i> Mail: <a
								href="mailto:viet@gmail.com">viet@gmail.com</a>
						</address>
					</div>
					<div class="col-sm-2">
						<h2 th:text="#{label.tutorial}"></h2>
						<ul class="list-unstyled">
							<li><a href="#">Help and FAQs</a></li>
							<li><a href="#">Home Price</a></li>
							<li><a href="#">Market View</a></li>

						</ul>
					</div>
					<div class="col-sm-2">
						<h2 th:text="#{label.page}"></h2>
						<ul class="list-unstyled">
							<li><a href="#">Font &amp; Color</a></li>
							<li><a href="#">Blogs</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">404 Page</a></li>
							<li><a href="#">Property Custom Field</a></li>
							<li><a href="#">Google Map</a></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="pgl-copyrights">
				<p>Copyright © 2020 Nha. Designed by</p>
			</div>
		</div>
	</footer>
	<!-- End footer -->

	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/vendor/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/owl-carousel/owl.carousel.js"></script>
	<script src="/vendor/flexslider/jquery.flexslider-min.js"></script>
	<script src="/vendor/chosen/chosen.jquery.min.js"></script>
	<script type="text/javascript"
		src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
	<script src="/vendor/gmap/gmap3.infobox.min.js"></script>
	<script src="/vendor/masonry/imagesloaded.pkgd.min.js"></script>
	<script src="/vendor/masonry/masonry.pkgd.min.js"></script>

	<!-- Theme Initializer -->
	<script src="/js/theme.plugins.js"></script>
	<script src="/js/theme.js"></script>

	<!-- Style Switcher -->
	<script type="text/javascript" src="/style-switcher/js/switcher.js"></script>
	<script type="text/javascript" src="/js/cookiesave.js"></script>

</body>
</html>